
@import url('https://fonts.googleapis.com/css?family=Cairo');  /*الخط*/

body{
background-image: url("img8.jpg");
background-repeat: repeat;
background-size: cover;

}
* { /* للتهيئه*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased; /* تعطي جماليه اكبر للخط*/
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-size: 38px;
  color :gray;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: silver;
  }
  #c h2 ,#contact h2{
    font-size: 45px;
      color:gray;
      font-weight: lighter;
      font-weight: bold;
      background: -webkit-linear-gradient(black, black);
          text-shadow:
          0 0 10px whitesmoke,
      		0 0 30px white,
      		0 0 50px white,
      		0 0 90px white;
    -webkit-background-clip: text;

  }
h3{
  font-size: 30px;
  color :gray;
  background: -webkit-linear-gradient(#fcd024, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.5s;
    transition: 0.5s;
  } a:hover{
  color: DarkGoldenRod ;
 }



#contener {
  width: 100%;
  margin: 0 auto;
}
#menuu{
  position: absolute;
    z-index: 1;
    top:0px;
  height: 70px;
  width: 100%;
  color: gray;
 position:fixed;
   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
 background-color: #DEB887 ;
}
#logo{
 float: left;
 margin-right: 30px;
}
.menu-all .menu {
  float: right;
  padding: 20px;
  list-style-type: none;
  margin-top: 10px;
  line-height: 20px;
  font-size: 20px;
}
.menu-all{
   font-style: oblique;

float: right;
}


/*تنسيق الصورة الرئيسية*/

#hero{
  height: 1500px;
  width: 90%;
  right:  70px;
  background-image: url("br.jpg");
  margin-top: 30px;
  background-repeat:no-repeat;
  background-size: contain;
margin: 0 auto;

}

#c {
  position: absolute;
 height: 20px;
 width: 1000px;
 padding: 10px;
 border-radius: 12px;
 bottom:25%;
right: 50px;
 bottom: 150px;
 text-align: center;
}

 #c1{
   right: 300px;
  position:absolute;
  text-align: center;
  -webkit-animation-duration: .7s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-name: text1;
}
#c1 h3{
  font-size: 25px;
  color : gray;
  background: -webkit-linear-gradient(#DEB887, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
@keyframes text1 {
  0% {
      opacity: 0;
      transform: translateY(10%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

#icon{
  float:left;
  margin-left: 100px;
}
#home{
  position: absolute;
  top:0px;}

  /*تنسيق السكشن الاول*/
  #history{
    position: absolute;
    top:800px;}
    #about {
    text-align: center;
    padding-top: 0px;
    bottom: 500px;
    width: 900px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    -webkit-animation-duration: .7s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-name: text1;

    }

     #about ,.cta{
      position: absolute;
      float: right;
      top: 140%;
      left: 600px;
      margin-right: 260px;}
  .cta{
    display: block;
    width: 150px;
    top: 240px;
    left: 350px;
    height: 50px;
    margin: 30px;
    padding-top: 5px;
    border-radius: 30px;
    background-color:#DEB887 ;
    color: white;
    font-size: 130%;
    box-shadow: 0 5px  grey;
    border: none;
    cursor: pointer;
    transition-duration: 0.08s;
  }
  .cta:hover{
  background-color: gray;
  box-shadow: 1px 2px grey;
  color:white;
  }
   .cta:active{
    box-shadow: 0px 0px grey;
    transform: translateY(5px);
  }.cta a{
    color:white;
  }
  .about-p{
    padding-top: 10px;
    line-height: 1.9;
    font-size: 20px;
  }
  #img6{
display: block;
position: absolute;
text-align: left;
bottom: 90px;
top: 130%;
height: 100px;
margin: 50px;
border: 0 ;
padding: 0 ;
  }

.fasl{
    display: block;
    position: absolute;
    bottom: 10px;
    top: 850px;
    right: 10px;
    left: 0px;
  text-align: right;
  }


  /*  السكشن الثاني الطريقة  */
  #t {
    position: absolute;
    top: 183%; }
  #amm{
    text-align: center;
    background-image: url("fasl7.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: block;
    position: absolute;
    top: 210%;
    width: 100%;
    height: 420px;
    padding: 20px;
  }
  #amm1{
    width: 100%;
    height: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 20px;
  padding: 30px;
  font-size: 25px;
  color: white;
  font-style: italic;
  font-weight: bolder;
  }

  #amm2{
    color :white;
    background: -webkit-linear-gradient(#737373, #A0522D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

   .ctta{
     display: block;
     position: absolute;
     width: 150px;
     top: 280px;
     left: 44%;
     height: 50px;
     margin: 0 auto;
     padding-top: 5px;
     border-radius: 30px;
     background-color:#DEB887 ;
     color: white;
     font-size: 130%;
     box-shadow: 0 5px  grey;
     border: none;
     cursor: pointer;
     transition-duration: 0.08s;
  }
  .ctta:hover{
  background-color: gray;
  box-shadow: 1px 2px grey;
  color:white;
  }
   .ctta:active{
    box-shadow: 0px 0px grey;
    transform: translateY(5px);
  }
/* التعلم تنسيق السكشن الثالث*/
#letters{
  position: absolute;
  top:270%;}
  #about2 {
  text-align: center;
  padding-top: 0px;
  position: absolute;
  top: 275%;
  right:20px;
  left: 20px;
  bottom: 100%;
  width: 900px;
  height:60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  -webkit-animation-duration: .7s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-name: text1;
}
.about-p2{
  padding-top: 10px;
  line-height: 1.9;
  font-size: 20px;
}
.accord{
  width: 800px;
  display: block;
  position: absolute;
  bottom: 500px;
  top: 650%;
  left: 7%;
  margin: auto;
  height: 450px;

  text-align: center;
}

.accord li {
  width: 266px;
  display: block;
  position: relative;
  float: left;
  border-left: 1px solid #DDD;
  transition: all 0.5s;
}

.titl{
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  bottom: 0 ;
  width: 700px;
}

.titl a{
  display: block;
  color: #fff;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
}
.accord ul:hover li{
  width: 40px;
}
.accord ul li:hover{
  width: 640px;
}



/* للتواصل  */
#contact1{
  position: absolute;
  top: 375%;
}
.amm3{
  text-align: center;
  background-image: url("fasl8.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: block;
  position: absolute;
  top: 400%;
  width: 100%;
  height: 420px;
  padding: 20px;

}
.row3{
  display: block;
  position: absolute;
  top: 20%;
  left: 60px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
} .co1{
width: 45%;
float: right;
padding: 10px;
margin-right: 3%;
}.col-left1{
margin-left: 1%;
}

#name, #email,#subject,#message{
  text-align: right;
}

.amm3 .cta{
  display: block;
  position: absolute;
  text-align: center;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  top: 54%;
left: 16%;}

input[type=text],[type=email] ,textarea {
    width: 480px;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}
input[type=submit]{
  padding-bottom: 15px;
}
input[type=submit]:hover{
color: DarkGoldenRod ;
}
.input:focus{
  box-shadow: 0 0 5px 2px #fcd024;
   }

.contact2{
  display: block;
  position: absolute;
  top: 433%;
  right: 26%;
  font-size: 100px;
}

#mm9{
  text-decoration: underline;
position: absolute;
top: 455%;
right: 48%;
}
#mm99{
  position: absolute;
  top: 459%;
  right: 48%;
}

.app9{
  display: block;
  position: absolute;
  top: 458%;
  right: 48%;
  font-size: 100px;
}
